
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Construction a Real Estates and Builders Category Flat bootstrap Responsive website Template | About :: w3layouts</title>
    <link href="~/Contents/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Contents/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Construction  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <script src="~/Contents/js/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="~/Contents/css/flexslider.css" type="text/css" media="screen" />
    <script src="~/Contents/js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });

    </script>
    <script src="~/Contents/js/bootstrap.js"></script>
    <!--startsmothscrolling-->
    <script type="text/javascript" src="~/Contents/js/move-top.js"></script>
    <script type="text/javascript" src="~/Contents/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
            });
        });
    </script>
    <!--endsmothscrolling-->
    <link rel="stylesheet" href="~/Contents/css/swipebox.css">
    <script src="~/Contents/js/jquery.swipebox.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $(".swipebox").swipebox();
        });
    </script>

</head>
<body>
    <!--start-header-section-->
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="logo">
                    <h1><a href="index.html">Hussain Builders & Contractors.</a></h1>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="header-bottom">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav cl-effect-16">
                                <li><a href="../../HAP/index">Home</a></li>
                                <li class="active"><a href="../../HAP/about">About</a></li>
                                
                                <li><a href="../../SC/customers">Customers</a></li>
                                <li><a href="../../HAP/projects">Projects</a></li>
                                <li><a href="../../SC/contact">Contact</a></li>
                            </ul>

                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--end header-section-->
    <div class="content">
        <!--about-->
        <div class="about-section">
            <div class="container">
                <h2>about Hussain Builders</h2>
                <div class="about-grids">
                    <div class="col-md-5 about-grid">
                        <iframe src="https://player.vimeo.com/video/71501596?portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <div class="col-md-7 about-grid1">

                        <p>Hussain Builders is one of the fastest growing and most admired infrastructure companies in Pakistan. It has expertise in executing large and complex industrial infrastructure projects.</p>

                        <p>
                            Incorporated in 1997, Hussain Builders is a national contractor and the flagship company of Pakistan. The other divisions of the Company are engaged in Finishing, Maintenance and Real Estate development.
                            Building Values is a philosophy which we embraced not just to capture the true spirit of the brand but to gain success in every aspect also.
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--about-->
        <!--Our History-->
        <div class="history">
            <div class="container">
                <h3>VISION AND MISSION</h3>
                <div class="history-grids">

                    <p>To be a respected world-class infrastructure organization known for quality, reliability, timely completion and a safe working environment.</p>
                    <p>To provide a climate of transparency, mutuality and continuous learning to its employees.</p>
                    <p>To maximize stakeholder value through continuous adoption of latest technologies, management practices and innovation.</p>
                    <p>To be a Responsible corporate body by committing to enhance the Quality of Life of the community.</p>

                    @*<div class="col-md-4 history-grid">
                            <h5>1995-1998</h5>
                            <h4>Aenean nec eros</h4>
                            <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie</p>
                        </div>
                        <div class="col-md-4 history-grid">
                            <h5>1999-2004</h5>
                            <h4>Vestibulum ante ipsum</h4>
                            <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie</p>
                        </div>
                        <div class="col-md-4 history-grid">
                            <h5>2005-2006</h5>
                            <h4>Etiam cursus leo vel</h4>
                            <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie</p>
                        </div>
                        <div class="col-md-4 history-grid">
                            <h5>2008-2010</h5>
                            <h4>Ut pharetra augue nec</h4>
                            <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie</p>
                        </div>
                        <div class="col-md-4 history-grid">
                            <h5>2012-2013</h5>
                            <h4>Quisque diam lorem</h4>
                            <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie</p>
                        </div>
                        <div class="col-md-4 history-grid">
                            <h5>2014</h5>
                            <h4>Donec eget tellus non</h4>
                            <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie</p>
                        </div>
                        <div class="clearfix"></div>*@
                </div>

            </div>
        </div>
        <div class="why-choose">
            <div class="container">

                <h3>VALUES</h3>
                <div class="history-grids">

                    <p>Ethical business practices.</p>
                    <p>Collaborative and creative work environment.</p>
                    <p>Caring culture towards employees and society.</p>
                    <p>Mutual Respect and Dignity of individuals.</p>

                    @*<div class="col-md-4 history-grid">
                            <h5>1995-1998</h5>
                            <h4>Aenean nec eros</h4>
                            <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie</p>
                        </div>
                        <div class="col-md-4 history-grid">
                            <h5>1999-2004</h5>
                            <h4>Vestibulum ante ipsum</h4>
                            <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie</p>
                        </div>
                        <div class="col-md-4 history-grid">
                            <h5>2005-2006</h5>
                            <h4>Etiam cursus leo vel</h4>
                            <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie</p>
                        </div>
                        <div class="col-md-4 history-grid">
                            <h5>2008-2010</h5>
                            <h4>Ut pharetra augue nec</h4>
                            <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie</p>
                        </div>
                        <div class="col-md-4 history-grid">
                            <h5>2012-2013</h5>
                            <h4>Quisque diam lorem</h4>
                            <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie</p>
                        </div>
                        <div class="col-md-4 history-grid">
                            <h5>2014</h5>
                            <h4>Donec eget tellus non</h4>
                            <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie</p>
                        </div>
                        <div class="clearfix"></div>*@
                </div>
                </div>
            </div>
                <!--Our History-->
                <div class="ourteam">
                    <div class="container">
                        <h3>our team</h3>
                        <div class="team-grids">

                            @foreach (var n in Model)
                            {
                                <div class="team-grids">
                                    <div class="col-md-3 team-grid">
                                        <img src="~/images/Posts/@n.path" class="img-responsive" alt="" />
                                        <h4>@n.name</h4>
                                        <p>@n.qualification</p>
                                    </div>
                                </div>
                            }

                            @*<div class="col-md-3 team-grid">
                                    <img src="~/images/t2.jpg" class="img-responsive" alt="" />
                                    <h4>david austin</h4>
                                    <p>Were dolor in hendrerit in vulputate velit esse molestie con sequat</p>
                                </div>
                                <div class="col-md-3 team-grid">
                                    <img src="~/images/t3.jpg" class="img-responsive" alt="" />
                                    <h4>Patrick Pool</h4>
                                    <p>Were dolor in hendrerit in vulputate velit esse molestie con sequat</p>
                                </div>
                                <div class="col-md-3 team-grid">
                                    <img src="~/images/t4.jpg" class="img-responsive" alt="" />
                                    <h4>Dayle Peters</h4>
                                    <p>Were dolor in hendrerit in vulputate velit esse molestie con sequat</p>
                                </div>
                                <div class="clearfix"></div>*@
                        </div>
                    </div>
                </div>

                <!--why-choose-->
                <div class="why-choose">
                    <div class="container">
                        <h3>Why choose us</h3>
                        <div class="choose-grids">
                            <div class="col-md-4 choose-grid">
                                <h4>1. Quality Objectives</h4>
                                <p>Adapting safe procedures in execution process.
Delivering quality output at economical cost.
Having effective control over unproductive works.
Having effective preventive maintenance.</p>

                            </div>
                            <div class="col-md-4 choose-grid">
                                <h4>2. Our Quality Policy</h4>
                                <p>To provide the highest customer satisfaction by providing high quality construction and delivering the project on time every time.
To impart globally competitive technologies & equipment to give maximum value to the customer assured at every stage of construction.
To innovate the process and services throughout the project lifecycle.</p>

                            </div>
                            @*<div class="col-md-4 choose-grid">
                                <h4>3. faucibus risus</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing ellente ssed dololiquam congu fermentum nisl. Mauris asan nulla vel diam. Sed in lacus ut enim adipiscing aliquetulla venenat pede mi, aliquet sit amet, euismod in, auctor ut.</p>

                            </div>*@
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!--why choose-->

            </div>
            <!--detail-->
            <div class="details-section">
                <div class="container">
                    <div class="details-grids">
                        <div class="col-md-4 detail-grid">
                            <div class="logo1">
                                <h1><a href="index.html">Hussain Builders & Co.</a></h1>
                            </div>
                            <p>Hussain Builders is the company which provides timely and standard product.We build for you.</p>
                        </div>
                        <div class="col-md-4 detail-grid">
                            <ul>
                                <li class="dot"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>38 km, Main Multan Rd, Manga Mandi, Lahore.</li>
                                <li class="mobile"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>03008478075</li>
                                <li class="mes"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> hussainbuilderscontractors@gmail.com</li>
                                <li class="sign"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>www.hussainbuilders.com</li>
                            </ul>
                        </div>
                        <div class="col-md-4 detail-grid">
                            <h3 style="color:white">Our Moto </h3>
                            <br>
                            <p>Simplifying lives of customers is our passion. The essence of everything we do. "Simplify.Create" stands for providing simple and innovative solutions to delivering complex projects on time.</p>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
            <!--detail-->
            <!--footer-->
            <div class="footer-section">
                <div class="container">
                    <div class="footer-top">
                        <p> &copy; 2016 Hussain Builders . All rights reserved | Design by <a href="http://hussainbuilders.com/Developer/">Adnan Rafique</a></p>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            /*
                            var defaults = {
                                containerID: 'toTop', // fading element id
                                containerHoverID: 'toTopHover', // fading element hover id
                                scrollSpeed: 1200,
                                easingType: 'linear'
                            };
                            */

                            $().UItoTop({ easingType: 'easeOutQuart' });

                        });
                    </script>
                    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
                </div>
            </div>
</html> 
